################################################################################
# standard LQ
# R. Demers 2018
################################################################################

# Outils : Eclipse, Ant, Maven, Gradle, plugins et autres
#########################################################
build.properties
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.loadpath
.buildpath
.target
.texlipse
.cproject
.externalToolBuilders/
.mtj.tmp/
.tern-project
target/
bin/
tmp/
*.pid
*.tmp
*.bak
*.swp
*~.nib
*.launch
#
.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Compilation
#############
*.com
*.class
*.dll
*.exe
*.o
*.so
*.so.*
*.slo
*.lo
*.obj
*.dylib
*.lai
*.la
*.a
*.lib
*.ko
*.elf
*.out
*.app
*.i*86
*.x86_64
*.hex

# Packages
##########
*.7z
*.dmg
*.gz
*.iso
*.tgz
*.jar
*.rar
*.tar
*.zip

# Logs and databases
####################
*.log
*.sqlite

# Fichiers OS
#############
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
################################################################################
*.~sql
